@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100% !important;
}

body {
  height: 100% !important;
  min-height: 100vh !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
